
.right-side
    margin-left: auto

.github-border-color
    border-color: #dbdbdb
    
    &:hover
        background-color: #001199

@media (min-width: 1200px) 
    .container
        max-width: 1200px
    

    
body
    background-color: #5e5e5e11 !important

@import "bootstrap/scss/bootstrap"
@import "~bootstrap/scss/bootstrap"